<!DOCTYPE html>
<html lang="es">
<!--Lenguaje de la pagina-->

<head>
    <!--Cabecera-->
    <!--Meta tags-->
    <meta charset="UTF-8">
    <!--Aceptar acentos-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/icono.ico">
    <!--Para que no haya problemas a la hora de trabajar con angular se importaron los script
    al archivo de index.html ya que si se importaban en este espacio de trabajo no funcionaban algunos
    componentes
    -->
    <!--Boostrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!--Fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Medical Quest</title>
    <!--Titulo de la pestaña-->
</head>

<body>
    <!--Barra de navegacion-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #00aae4;">
        <div class="container-fluid">
            <!--Contenedor-->
            <a class="navbar-brand" href="#"><i class="bi bi-heart-pulse"></i> Medical Quest</a>
            <!--Icono y titulo de la barra-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!--Items de la barra de navegacion-->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#nosotros">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#objetivo">Objetivo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#mision_vision">Misión y visión</a>
                    </li>
                </ul>
                <!--Botones que redirijan a la pagina de registro e iniciar sesion-->
                <div class="btn-start">
                    <a href="login/login.conponent.html" class="btn btn-outline login">Iniciar sesión</a>
                    <a href="singup/singup.component.html" class="btn btn-outline-light">Registrarse</a>
                </div>
            </div>
        </div>
    </nav>
    <!--Final de barra de navegacion-->

    <!--Empieza contenido de la pagina-->
    <!--Contenedor-->
    <div class="container-md">
        <!--Carrusel-->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!--Imagen de carrusel especificando que esta activo y el tiempo de imagen entre imagen-->
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="../assets/image/landingpage/medicina.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="../assets/image/landingpage/enfermera.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="../assets/image/landingpage/vacuna.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <!--Fin del carrusel-->
        <br>

        <!--Alerta
            Mensaje explicando algunos de los inconvenientes a la hora de querer difundir informacion
            en redes sociales de proposito general y puede ser de desconfianza
        -->
        <div class="alert alert-info" style="text-align: justify;" role="alert">
            En las redes sociales diariamente se publica información, sin embargo, la mayoría de dicha información no ha
            sido verificada y, con la reciente pandemia se ha publicado una gran cantidad de información sobre el
            sars-cov19 que no esta confirmada por un especialista de la medicina lo cual puede afectar a las personas
            que hagan caso a dicha publicación.
            <hr>
            <!--Boton que redirige a la pagina de registro-->
            <a href="singup.html" class="btn btn-outline-primary">Regístrate ¡es gratis!</a>
        </div>
        <!--Final de mensaje-->

        <!--Inicio informacion de la pagina-->
        <!--Colocando informacion con la clase row que se encuentra alojado en el framework de boostrap
        haciendo uso de el componente grid para colocarlos en forma de cuadricula, pertenece a la clase "col" que indica una nueva columna
        Se especifica que seran cuadriculas de 2 columnas con "row-cols-2" para el espacio a lo ancho, cuando se llena el espacio
        de dos columnas, la tercera la arroja hacia abajo-->
        <div class="row row-cols-2 justify-content-center align-items-center" style="text-align: justify;">
            <!--Sobre nosotros-->
            <!--Primer columna-->
            <div class="col">
                <h4>Sobre nosotros</h4>
                <p>
                    Somos un equipo que busca unir a profesionales de la medicina en el estado de México y asi
                    proporcionar una ayuda para su comunicación ya que la mayoria de las redes sociales creadas hasta
                    ahora
                    no tienen un enfoque especifico como lo es la medicina.
                </p>
            </div>
            <!--Segunda columna/Imagen sobre nosotros-->
            <div class="col" id="nosotros">
                <img src="../assets/image/landingpage/logo.jpeg" alt="">
            </div>

            <!--Objetivo-->
            <div class="col">
                <img src="../assets/image/landingpage/doctor-electro.jpg" alt="">
            </div>
            <!--Imagen de objetivo-->
            <div class="col" id="objetivo">
                <h4>Objetivo</h4>
                <p>
                    Crear una plataforma tipo red social que ayude a los profecionales de la medicina en el estado de
                    México a postear dudas y publicar información que ya ha sido verificada por alguno de estos.
                </p>
            </div>
            <!--Mision-->
            <div class="col" id="mision_vision">
                <br><br>
                <h4>Misión</h4><br>
                <img src="../assets/image/landingpage/corazon.png" alt="">
                <p>
                    Se planea tener comunicados a los diferentes medicos y sus ramas dentro del estado de México para
                    asi de esta manera transportar informacion confidencial en una plataforma mas segura donde
                    se tenga en cuenta la privacidad de esta en un entorno dedicado a la difamación de información
                    privada.
                </p>

            </div>
            <!--Vision-->
            <div class="col">
                <br>
                <h4>Visión</h4>
                <img src="../assets/image/landingpage//medico-laptop.png" alt="">
                <p>
                    Se desea brindar a los diferentes medicos de las diferentes ramas la confianza de que la
                    información que le será enviada sobre su publicación es verídica y ha sido proporcionada por otro
                    profesional de la salud.
                </p>
            </div>
        </div>
    </div>
</body>

</html>